<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find person</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    body{
        max-width: 900px;
        margin:  0 auto;
        border: 1px solid #700f85;
        padding: 10px;
        text-align: center;
        justify-content: space-around;
    }
</style>
<body>
<p></p>
<h1>Find person</h1>
<p>Please, enter person surname&name: </p>
<p></p>
<form action="#" th:action="@{/findperson}" th:object="${person}" method="post">
    <p><input type="text" th:field="*{surname}" placeholder="Surname" pattern="[A-Za-zА-Яа-яЁё]{2,30}" required/></p>
    <p><input type="text" th:field="*{name}" placeholder="Name" pattern="[A-Za-zА-Яа-яЁё]{2,30}" required/></p>
    <p><input type="submit" value="Find" /> <input type="reset" value="Reset" /></p>
</form>

<p><a href="/profile">Back to profile adding form</a></p>
</body>
</html>