<!DOCTYPE HTML>
<html>
<head>
    <title>People</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    body{
        max-width: 900px;
        margin:  0 auto;
        border: 1px solid #ffe600;
        padding: 10px;
        text-align: center;
        justify-content: space-around;
    }
</style>

<body>
<p><h1>Welcome!</h1></p>
<h4>select the desired action: </h4>
<p><a href="/profile">I want to add a new person</a></p>
<p><a href="/findperson">I want to find a person</a></p>
</body>
</html>