<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unsuccessful search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
    body{
        max-width: 900px;
        margin:  0 auto;
        border: 1px solid #e80202;
        padding: 10px;
        text-align: center;
        justify-content: space-around;
    }
</style>
<body>
<h1>Person not found</h1>
<p>Sorry! This person is not on the list</p>
<p><a href="/findperson">Back to search form</a></p>
</body>
</html>